{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Your Portfolio</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.value | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td colspan="4">Grand Total</td>
                <td>{{ grand_total }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Add Cash Button -->
    <a href="{{ url_for('add_cash') }}" class="btn btn-success">Add Cash</a>
{% endblock %}
